.card{
    width:240px;
    height:380px;
    border-radius:15px;
    border:1px solid;
    transition: all 0.7s linear; 
  }
  
  
  .card:hover {
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.75);
  }
    
    .card-body {
      padding: 1rem 0 !important;
  
    }
    
    .card-text {
      padding: 0.3rem 1rem;
      font-size: 1rem;
    }
    
    .overflow {
      overflow: hidden;
    }
    
    .card-img{
      width:200px !important;
      height:200px;
      transition: all 0.6s ease-in-out;
      margin-top: 10px;
      border:1px solid #f3faff;
      border-radius: 15px !important;
     
    }
    
    