body {
    font-family: 'Oxygen', sans-serif;

    height: 100vh;
    background:linear-gradient(black,rgb(33,37,41));
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed

   
  } 

  p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    
  }
  
  
  a {
    color: rgb(253, 253, 253) ;
    text-decoration: none;
    
  }