.disabled{
   
    cursor: not-allowed;
    background-color: rgb(229, 229, 229) !important;
    pointer-events:none;
    filter: opacity(25%);
       
   }
   
   .enable{
       background-color: pink;
       filter: opacity(100%);
   }